<ion-header>
    <ion-navbar style="min-height:80px">
     <ion-grid>
       <ion-row>
          <ion-col *ngIf="provider.loggedin">
              <img src="{{ provider.profilePic }}" style="width:60px;height:60px;border-radius:50%">
          </ion-col>
          <ion-col style="margin-top:10px">
              <div class="can-toggle" >
                <div class="can-toggle demo-rebrand-2" >
                      <input id="e" type="checkbox" >
                      <label for="e">
                        <div class="can-toggle__switch" data-checked="On" data-unchecked="No" style="max-width:150px; max-height:50px"></div>
                      </label>
                    </div>
                    </div>
                  </ion-col>
          <ion-col text-right style="margin-top:-5px">
            <button ion-button icon-only large clear color="dark">
              <ion-icon name="ios-text"></ion-icon>
            </button>
          </ion-col>
       </ion-row>
     </ion-grid>
     </ion-navbar>
  </ion-header>

<ion-content padding>
  <p text-center *ngIf="provider.loggedin">
      <img src="{{provider.profilePic}}" style="width:150px;height:150px;border-radius:50%">
  </p>
  <p text-center *ngIf="provider.loggedin">
    {{provider.name}} <br>
   <span style="color:grey">{{provider.affiliation}}</span>
  </p>
  <!-- <ion-row>
    <ion-col>
        <p text-center>
            <img src="images/huma.jpg" style="width:80px;height:80px;border-radius:50%">
        </p>
    </ion-col>
    <ion-col>
        <p text-center>
            <img src="images/disha.jpg" style="width:80px;height:80px;border-radius:50%">
        </p>
    </ion-col>
    <ion-col>
        <p text-center>
            <img src="images/madh.jpg" style="width:80px;height:80px;overflow:hidden; border-radius:50%">
        </p>
    </ion-col>
  </ion-row> -->
  <ion-card>
    <ion-card-content  text-center>
    <ion-card-title>自己紹介</ion-card-title>
    {{provider.intro}}
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content  text-center>
    <ion-card-title>学歴</ion-card-title>
    <p>{{provider.school.name}}</p>
    <p>{{provider.school.department}}</p>
    <p>{{provider.school.graduation}}年卒業</p>
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content  text-center>
    <ion-card-title>職歴</ion-card-title>
    <p>{{provider.company.name}}</p>
    <p>{{provider.company.position}}</p>
    <p>{{provider.company.category}}</p>
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content  text-center>
    <ion-card-title>スキル</ion-card-title>
    <p>{{provider.skill}}</p>
  </ion-card-content>
  </ion-card>

  <ion-row text-center>
    <ion-col>
        <button ion-button icon-left outline color="cuspurple">
            <ion-icon style="margin-top:-4px" name="infinite"></ion-icon>
           アップグレード
          </button>
    </ion-col>
    <ion-col>
        <button ion-button icon-left outline color="cuspurple" (click)="pho()">
            <ion-icon style="margin-top:-4px" name="md-cog"></ion-icon>
           設定
          </button>
    </ion-col>
  </ion-row>

  <h4 text-center>Share with Friends</h4>
  <h5 text-center>Find match</h5>
  <p text-center>
  <button ion-button full (click)="presentModal()" style="border-radius:40px; background: linear-gradient(to right, #3A1C71 , #D76D77, #FFAF7B);">
    Share
  </button>
</p>
</ion-content>
