<ion-header [hidden]="loggedin">
    <ion-navbar style="min-height:80px">
      <ion-title>プロフィール詳細</ion-title>
     </ion-navbar>
  </ion-header>

<ion-content padding>
  <div [hidden] ="employer">
  <p text-center>
      <img src="{{provider.photoURL}}" class="profileimg">
  </p>
  <p text-center>
    {{provider.name}} <br>
   <span style="color:grey">{{provider.affiliation}}</span>
  </p>

  <ion-card>
    <ion-card-header>自己紹介</ion-card-header>
    <ion-card-content>
      {{provider.intro}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>学歴</ion-card-header>
    <ion-card-content text-center>
      <ion-list>
        <p>{{provider.school.name}}</p>
        <p>{{provider.school.department}}</p>
        <p>{{provider.school.graduation}}年卒業</p>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>職歴</ion-card-header>
    <ion-card-content text-center>
      <ion-list>
        <p>{{provider.company.name}}</p>
        <p>{{provider.company.position}}</p>
        <p>{{provider.company.category}}</p>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>スキル</ion-card-header>
    <ion-card-content text-center *ngIf="provider.skill">
      <ion-chip *ngFor="let skills of provider.skill" style="margin:5px;">
        <ion-label>
          {{skills}}
        </ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

  <ion-row text-center [hidden]="!loggedin">
    <ion-col>
        <button ion-button icon-left outline color="dark" (click)="pho()">
            <ion-icon style="margin-top:-4px" name="md-create"></ion-icon>
           編集
          </button>
    </ion-col>
    <ion-col>
        <button ion-button icon-left outline color="dark" (click)="config()">
            <ion-icon style="margin-top:-4px" name="md-cog"></ion-icon>
           設定
          </button>
    </ion-col>
  </ion-row>
</div>
</ion-content>

<ion-footer no-border [hidden]="loggedin">
  <ion-row text-center [hidden]="!employer">
    <ion-col>
      <button ion-button icon-only outline color="dark" (click)="voteUp(false)" class="judge">
        <!-- <ion-icon name="md-thumbs-down"></ion-icon> -->
        興味なし
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-only outline color="secondary" (click)="voteUp(false)" class="judge">
        <!-- <ion-icon name="md-flash"></ion-icon> -->
        あとで送る
      </button>
    </ion-col>
      <ion-col>
        <button ion-button icon-only outline color="main" (click)="voteUp(true)" class="judge">
          <!-- <ion-icon name="md-thumbs-up"></ion-icon> -->
          メッセージ送信
        </button>
      </ion-col>
  </ion-row>

  <ion-row text-center [hidden]="employer">
    <ion-col>
      <button ion-button icon-only outline color="dark" (click)="voteUp(false)" class="judge">
        <!-- <ion-icon name="md-thumbs-down"></ion-icon> -->
        ちょっと興味あり
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-only outline color="secondary" (click)="voteUp(false)" class="judge">
        <!-- <ion-icon name="md-flash"></ion-icon> -->
        話してみたい
      </button>
    </ion-col>
      <ion-col>
        <button ion-button icon-only outline color="main" (click)="voteUp(true)" class="judge">
          <!-- <ion-icon name="md-thumbs-up"></ion-icon> -->
          働いてみたい
        </button>
      </ion-col>
  </ion-row>
</ion-footer>