<ion-header no-border>
  <ion-navbar text-center>
    <img src="assets/imgs/logo_ver1.png" style="height:30px;">
   </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-center margin>
    <h3 [hidden]="employer">今日の社長</h3>
    <h3 [hidden]="!employer">今日の学生</h3>
  </div>

  <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" (click)="userdetail()" id="card-stack">
    <ion-card #mycards1 swing-card *ngFor="let key of cards" class="td-card">
      <p text-center *ngIf="key.photoURL">
        <img *ngIf="key.photoURL" [src]="key.photoURL" class="card-img">
      </p>
      <ion-card-content>
        <ion-card-title text-center>{{ key.name }}</ion-card-title>
        <p>{{key.intro}}</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>