page-home {

  #card-stack {
    height: 80%;
  }

  .td-card {
    height: 100%;
  }

  .card-img {
    min-height:100%;
    max-width:90%;
    border-radius:0;
    margin:10px auto;
    height:150px;
    width:150px;
    box-shadow: 2px 3px 5px grey;
  }

}
